$footer-font-copyright-color: #ffffff;

.footer {
  display: flex;
  flex-direction: column;
}

.footer p {
  font-size: 0.8rem;
}

.footer-links {
  display: inherit;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.footer-copy {
  display: inherit;
  flex-direction: row;
  justify-content: center;
  color: $footer-font-copyright-color;
}
