:root {
  --input-text-border-color: #2642bd;
  --input-text-hover-color: #f16a48;
}

.input-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  height: fit-content;
}

.input-text {
  width: 100%;
  font-size: 1.4rem;
  border: 2px solid var(--input-text-border-color);
  border-radius: 5px;
}

input:hover,
.add-button:hover,
.save-button:hover {
  border-color: var(--input-text-hover-color);
}

.add-button,
.save-button {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.centered-label {
  display: flex;
  align-items: center;
}
