$navigation-font-color: #ffffff;
$navigation-border-color: #000000;
$navigation-background-color: #ffffff;
$navigation-background-font-color: #000000;
$navigation-background-hover-color: #ff0000;
$navigation-info-background-color: #686666;
$navigation-info-border-color: #ff0000;
$navigation-header-background-color: #808080;

.navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 90%;
  gap: 0.5rem;
  color: $navigation-font-color;
  padding: 0.5rem;

  &__checkin {
    background-color: transparent;
    border: 2px solid $navigation-border-color;
    padding: 0 20px;

    &:hover {
      background-color: $navigation-background-color;
      color: $navigation-background-font-color;
      transition: ease-in-out 0.5s;
    }
  }

  &__info {
    background-color: transparent;
    border: 2px solid $navigation-border-color;
    padding: 0 20px;

    &:hover {
      background-color: $navigation-background-hover-color;
      transition: ease-in-out 0.5s;
    }

    &:hover &--menu {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: 30px;
      grid-auto-rows: 50px;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 0;
    }

    &:hover {
      display: block;
    }

    &--menu {
      display: none;
      background-color: $navigation-info-background-color;
      width: 100%;
      left: 0;
      position: absolute;
      z-index: 2;
      border: 1px solid $navigation-info-border-color;
      box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.9);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: 120px;
    cursor: pointer;
  }

  &__header {
    background-color: $navigation-header-background-color;
    grid-column: 1/4;
  }
}
