$text-color: #000000;
$action-window-background-color: #8266cf;
$action-buttons-color: transparent;
$action-buttons-border-color: #000000;
$action-buttons-hover-color: #ff0000;
$log-data-button-color: #ffd016;

h1 {
  margin: 0.5rem;
}

.header {
  height: fit-content;
  width: 90%;
  text-align: center;
}

.todo-list {
  height: 100%;
  width: 95%;
  margin: 0 auto;
  overflow-x: auto;
  text-align: center;
}

.log-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 0.5rem;

  & p {
    padding: 0 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
  }

  & button {
    padding: 0 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    &:hover {
      background-color: darken($log-data-button-color, 10%);
    }
  }
}

a {
  font-weight: 400;
  color: $text-color;
  text-decoration: inherit;
}

.action-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $action-window-background-color;
  width: 100%;
  margin: auto;

  & p {
    color: $text-color;
  }
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: transparent;
  width: 100%;
}

.action-buttons {
  background-color: $action-buttons-color;
  padding: 0.8rem 1.2rem;
  border: 2px solid $action-buttons-border-color;
  border-radius: 5px;
  margin: 0.5rem;
  color: #ffffff;
}

.action-buttons:hover {
  background-color: $action-buttons-hover-color;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}
