$button-border-color: #000000;
$menu-background-color: #c2b7b3;
$menu-header-color: #ff0000;
$menu-button-background-color: #7244a7;
$action-button-border-color: #ffffff;

.todo {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 95%;
  min-height: 2.5rem;
  margin: 1rem auto;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.button-priority {
  margin: 0 0.3rem;
  background-color: transparent;
  border-radius: 5px;
  border: 3px solid $button-border-color;
  width: fit-content;
  height: 2rem;
  text-align: center;
  cursor: pointer;
  font-weight: 800;
  font-size: 1rem;
  padding: 0 0.8rem;

  &__menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: $menu-background-color;
    width: 300px;
    height: fit-content;
    left: 0px;
    top: 40px;
    z-index: 1;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    border-radius: 10px;
  }

  &__header {
    color: $menu-header-color;
    margin: 0 auto;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    height: 3rem;
  }

  &__buttons button {
    width: 3rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 800;
  }

  &__buttons button:hover {
    background-color: darken($menu-button-background-color, 10%);
  }

  &:hover {
    background-color: darken($menu-button-background-color, 10%);
  }
}

.checkbox {
  margin: 0 0.5rem;
}

.button-action {
  margin-right: 0.5rem;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 5px;

  &:hover {
    border: 2px solid $action-button-border-color;
  }
}

.todo-note {
  width: 100%;
  text-align: start;
  text-wrap: wrap;
  cursor: pointer;
}

.content {
  font-weight: 800;
  display: inline-block;
}

label {
  width: 100%;

  p {
    word-break: break-all;
  }
}
