$button-border-color: #000000;
$menu-background-color: #c2b7b3;
$menu-header-color: #ff0000;
$menu-button-background-color: #ff9100;
$action-button-border-color: #ffffff;

.todo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 95%;
  min-height: 2.5rem;
  margin: 0.8rem auto;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.button-priority {
  margin: 0 0.3rem;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid $button-border-color;
  width: 3rem;
  text-align: center;
  cursor: pointer;
  font-weight: 800;

  &__menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: $menu-background-color;
    width: 300px;
    height: 50px;
    left: 0px;
    top: 40px;
    z-index: 1;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);

    &:hover {
      background-color: darken($menu-background-color, 10%);
    }
  }

  &__header {
    color: $menu-header-color;
    margin: 0 auto;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
  }

  &__buttons button {
    width: 3rem;
    border-radius: 5px;
    cursor: pointer;
  }

  &__buttons button:hover {
    background-color: darken($menu-button-background-color, 10%);
  }

  &:hover {
    background-color: darken($menu-button-background-color, 10%);
  }
}

.checkbox {
  margin: 0 0.5rem;
}

.button-action {
  margin-right: 0.5rem;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 5px;

  &:hover {
    border: 2px solid $action-button-border-color;
  }
}

.todo-note {
  width: 100%;
  text-align: start;
  cursor: pointer;
}

.content {
  font-weight: 800;
  display: inline-block;
}
