* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

body {
  margin: 0;
  justify-content: space-between;
  height: 100vh;
}

h1 {
  font-size: 1.2em;
  line-height: 1.1;
}

a {
  color: #ffffff;
}

a:hover {
  color: #ff0000;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #ffffff;
  }
  a:hover {
    color: #ff0000;
  }
  button {
    background-color: #213547;
  }
}
